//header background image url
$header-bg-img-xl: url(../../assets/img/Page5_SMM_img/background/header__page_smm_xl.png);
$header-bg-img-l: url(../../assets/img/Page5_SMM_img/background/header__page_smm_l.png);
$header-bg-img-m: url(../../assets/img/Page5_SMM_img/background/header__page_smm_m.png);
$header-bg-img-s: url(../../assets/img/Page5_SMM_img/background/header__page_smm_s.png);

//header text area width
$text-content-w-xl: 800px;
$text-content-w-l: 560px;
$text-content-w-m: 560px;

//header height (without headline)
$header-h-xl: 400px;
$header-h-l: 416px;
$header-h-m: 260px;
$header-h-s: 260px;