@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');
@import '../vars';
@import './Page5_SMM_Header-vars';
@import '../template_header';
@import '../template';

//section content plan

.section_name_content-plan {

    .section__table {

        @media (max-width:$m) {
            display: none;
        }
    }

    .section__table_mobile {
        @media (max-width:$m) {
            display: table;
        }
    }
}

.table_section_content-plan {

    .table__row:nth-of-type(2n),
    .table__row_style_dark {
        background-color: $lightgrey_basic;
        background-image: none;
    }

    .table__cell:not(.table__cell_head) {
        padding-top: 12px;
    }

    .table__cell {
        @media (max-width:$l) {
            padding-left: 10px;
        }

        @media (max-width:$m) {
            padding: 15px 20px 20px 15px;
        }
    }

    .table__cell-text {
        margin: 4px 0;
    }

    .table__cell-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        @media (max-width:$s) {
            grid-template-columns: repeat(2, 1fr);
        }

        .table__cell-grid-item:last-of-type {
            grid-column: 1/-1;
        }
    }
}

//section communication structure

.section_name_communication {
    background-color: $lightgrey_basic;
    background-image: url(../../assets/img/template/light-blue-bg.svg);
}

.table_section_communication .table__cell {

    @media (max-width:$l) {
        padding: 20px 10px;
    }

    @media (max-width:$m) {
        padding-right: 0;
    }

    @media (max-width:$s) {
        padding: 10px 16px;
    }
}




.section_name_advertising-goals {
    background-color: $lightgrey_basic;
    background-image: url(../../assets/img/template/light-blue-bg.svg);

    .section__text {
        margin-left: auto;
        margin-right: auto;
        max-width: 920px;

        @media (max-width:$l) {
            max-width: none;
        }
    }
}

.section_name_cost-of-services {
    background-color: $lightgrey_basic;
    background-image: url(../../assets/img/template/light-blue-bg.svg);

    .section__title {
        margin-bottom: 60px;

        @media (max-width:$l) {
            margin-bottom: 40px;
        }

        @media (max-width:$m) {
            margin-bottom: 32px;
        }
    }
}

.section_name_cost-of-services .section__infoblock {
    margin-top: 60px;

    @media (max-width:$l) {
        margin-top: 40px;
    }

    @media (max-width:$m) {
        margin-top: 32px;
    }
}